<!-- <div style="vertical-align: middle;">
    <div>
        <img src="assets/Professional.jpg" alt="Vijayasai Sanagaram" style="width:350px;height:400px;margin-left: -15px;float:left" />
    </div>

    <br>

    <div> 
        <img src="assets/icons8-important-mail-96.png" alt="Vijayasai Sanagaram Email" style="width:30px;height:30px;margin-right:20px;cursor: pointer;" value="click to copy" (click)="copyText('Email')"  />
        <img src="assets/icons8-phone-48.png" alt="Vijayasai Sanagaram" style="width:29px;height:29px;cursor: pointer;" value="click to copy" (click)="copyText('phone')"  /><br><br>
        <label style="font-size:20px">Bengaluru, India</label>
    </div>

    <div>
        <header class="name">Vijayasai Sanagaram</header>
        <img src="assets/icons8-important-mail-96.png" alt="Vijayasai Sanagaram Email" style="width:30px;height:30px;margin-right:20px;cursor: pointer;" value="click to copy" (click)="copyText('Email')"  />
        <img src="assets/icons8-phone-48.png" alt="Vijayasai Sanagaram" style="width:29px;height:29px;cursor: pointer;" value="click to copy" (click)="copyText('phone')"  /><br><br>
        <label style="font-size:20px">Bengaluru, India</label>
        <div style="text-align: left;padding:15px">
            <header class="name" style="font-size:18px">Educational Qualifications</header><br>
            <div style="display:flex;">
                <img src="assets/vit.jpg" class="vit" title="Vellore Institute of Technology" />
                <div style="display: flex;flex-direction: column;margin-left: 10px;margin-top:-3px">
                    <label style="font-size: 15px;">Vellore Institute of Technology, Vellore</label>
                    <label style="font-size: 15px;">Bachelor's of Technology, B.Tech</label>
                    <label style="font-size: 15px;">Computer Science Engineering</label>
                    <label style="font-size: 15px;">Jul 2014 - May 2018</label>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="card">
    <div style="padding: 10px; text-align: center;">
        <img src="assets/Professional.jpg" alt="Vijayasai Sanagaram" style="width:350px;height:400px;margin-left: -15px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);" />
        <header class="name">Vijayasai Sanagaram</header><br>
        <img src="assets/icons8-important-mail-96.png" alt="Vijayasai Sanagaram Email" style="width:30px;height:30px;margin-right:20px;cursor: pointer;" value="click to copy" (click)="copyText('Email')"  />
        <img src="assets/icons8-phone-48.png" alt="Vijayasai Sanagaram" style="width:29px;height:29px;cursor: pointer;" value="click to copy" (click)="copyText('phone')"  />
        <div style="text-align: left;padding:15px">
            <header class="name" style="font-size:18px">Educational Qualifications</header><br>
            <div style="display:flex;">
                <img src="assets/vit.jpg" class="vit" title="Vellore Institute of Technology" />
                <div style="display: flex;flex-direction: column;margin-left: 10px;margin-top:-3px">
                    <label style="font-size: 15px;">Vellore Institute of Technology, Vellore</label>
                    <label style="font-size: 15px;">Bachelor's of Technology, B.Tech</label>
                    <label style="font-size: 15px;">Computer Science Engineering</label>
                    <label style="font-size: 15px;">Jul 2014 - May 2018</label>
                </div>
            </div>
        </div>
    </div>
</div>