.name{
    font-size: 30px;
    font-variant-caps: small-caps;
    color: #FFBA00;
}


.project_anchor{
    text-decoration: none;
    color:#FFBA00;
    font-size:15px
}

.project_anchor:hover{
    color:dodgerblue;
}