<div>
    <br><br>
    <header class="name">Projects</header>
    <span style="color:grey;font-size:15px;margin-left:5px">(Click to expand)</span><br><br>

    <div>
        <header class="name" style="font-size:20px">My Personal Projects</header><br>
        <p-accordion>


            <p-accordionTab header="React-in-Angular" class="accordian_header" id="React-in-Angular" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">The project is about a component to display images developed in ReactJs integrated in Angular</label> <br>
                    <a href="https://gitlab.com/sngrmvj/react-in-angular" target="_blank" class="project_anchor">Please navigate here for more info.</a>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Weather API and HLS video" class="accordian_header" id="weather_and_hls" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">Implemented weather application using OpenWeatherMap API based on the geolocation of the user.
                        Implemented video.js player for Http Live Streaming videos and mp4 videos. Developed using ReactJS.</label> <br>
                    <a href="https://sngrmvj.github.io/ReactJs_Imps/" target="_blank" class="project_anchor">Navigate to have a look at the product.</a>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Camera App (Internship)" class="accordian_header" id="intern" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">Owned the development of a gallery app. The app has the features to take photos and save it in the
                        local directory. The photos taken can be shared. It is developed using Android Studio. This app works greater than or equal to Android 6.0.</label> <br>
                </div>
            </p-accordionTab>

        </p-accordion>
    </div>

    <br><br>

    <div>
        <header class="name" style="font-size:20px">Industry Projects</header><br>
        <p-accordion>


            <p-accordionTab header="Bill of Quantities" class="accordian_header" id="boq" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">It is to enable users to predict domain specific bill of quantities based on set of project attributes and by
                        historic data. The project has role-based structure where admins have the privilege to tweak the ML model
                        and provide historic data for prediction. Users can create projects or upload project based on set of attributes
                        or use historic data as reference and create a project.
                    </label> <br>
                    <label style="font-size:15px">Features include - </label><br>
                    <ol style="font-size:15px">
                        <li>Prediction of Bill of Quantities based on the historic data.</li>
                        <li>Comparison of bill of quantities it can be with the historic data.</li>
                        <li>Similarity Index (implemented using Data Science) between the projects.</li>
                        <li>Users can create project or upload project using the set of project attributes.</li>
                        <li>Developed in Python and Angular. Implemented REST APIs.</li>
                        <li>Deployments are into cloud foundry for both Developer and Operator tenants.</li>
                        <li>Implementation of SonarQube for code quality both in Windows and Linux..</li>
                        <li>Implemented CICD in GIT. Implemented Swagger Documentation for all the REST APIs.</li>
                        <li>Project follows Agile methodology and we use JIRA for sprints, stories etc.</li>
                    </ol>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Veronica" class="accordian_header" id="veronica" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <header style="font-size:17px">Veronica is a chat bot which responds to the domain specific queries. This is developed using Rasa NLU
                        framework.
                    </header><br>
                    <label style="font-size:15px">1. Developed synonyms for different target words (intents) using natural language understanding for Veronica chat bot. The intention is to give the same response for target word and its synonyms. This is developed using Rasa framework.</label><br>
                    <label style="font-size:15px">2. Owned the development of reusable chat component for Veronica(Chat bot). It is developed in ReactJS and can be used for domain specific queries. 
                        This reusable chat component is platform independent. 
                        It can be plugged to ReactJs as well as Angular. The chat bot is also equipped with speech recognition and web speech API to read out the response like Google Assistant. 
                        It is being used by domain experts and the some projects plugged this chatbot to provide good insights of their project.
                    </label><br>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Data Integration Layer" class="accordian_header" id="dil" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <header style="font-size:17px">ETL project
                    </header>
                    <label style="font-size:15px">Developed test cases using pytest for ETL project where ETL is carried out entirely on python.</label><br>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Dashboard for Early Warning " class="accordian_header" id="dew" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">Owned the development of a prototype (wireframes) to generate early warnings to the engineers or
                        fabricators whenever there is a change in the requirements/attributes/documents etc. The prototype is
                        successful, and the project is under production. It is developed in Axure RP tool.</label><br>
                </div>
            </p-accordionTab>

        </p-accordion>
    </div>




</div>
