<div>
    <br><br>
    <header class="name">Projects</header>
    <span style="color:grey;font-size:15px;margin-left:5px">(Click to expand)</span><br><br>

    <div>
        <header class="name" style="font-size:20px">Industry Projects</header><br>
        <p-accordion>


            <p-accordionTab header="Bill of Quantities" class="accordian_header" id="boq" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">Owned the development of backend of a product called Bill of Quantities. 
                        A specific use case for BOQ is to enable the user to predict domain-specific Bill-of-Quantities for projects based on a set of provided attributes and by evaluation of historical data sets.
                        It would help powerplant engineers provide an accurate high-level estimate of the materials required to set up a power plant from scratch.
                        It would help to improvise the complicated data flow and cut down the High Non-Conformance Cost (NCC) by 3.2 Million Euros considering four projects per year with scope: piping, insulation, supports, valves, and cables.
                    </label> <br>
                    <label style="font-size:15px">Key Achievements - </label><br>
                    <ol style="font-size:15px">
                        <li>Managing the entire backend of the product developed in Flask framework of Python.</li>
                        <li>Similarity Index between the selected projects, implemented using Data Science.</li>
                        <li>Able to make cross connection between application in cloud foundry and database in AWS.</li>
                        <li>Implemented connection of two databases to avoid loss of data during data migration.</li>
                        <li>Project is developed based on REST architecture and deployed to cloud foundry.</li>
                        <li>Implemented Swagger documentation, code quality in SonarQube and CICD test coverage in Gitlab.</li>
                        <li>Implementation of SonarQube for code quality both in Windows and Linux.</li>
                        <li>Implemented CICD in GIT. Implemented Swagger Documentation for all the REST APIs.</li>
                        <li>Project follows Agile methodology and we use JIRA for sprints, stories etc.</li>
                    </ol>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Automatic Data Retrieval" class="accordian_header" id="ADR" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">Currently Siemens manually annotates powerplant component data (manuals, diagrams etc.). 
                        This process is highly inconsistent, labor intensive and of low quality resulting in high costs and information gaps. 
                        To avoid this, we extract metadata from a wide variety of document types automatically by using computer vision to use it in later projects.
                    </label> <br>
                    <label style="font-size:15px">Key Achievements - </label><br>
                    <ol style="font-size:15px">
                        <li>Created secrets in AWS Secrets manager and created commands to fetch the secrets in required format for CICD through AWS CLI.</li>
                        <li>A cron job is set up to automate the Monitoring of server performance per day by calling the APIs of
                        Airflow asynchronously using aiohttp framework and asyncio of python. The response we get is pushed to Influx DB (time series DB). Used Grafana to visualize the data from the Influx DB. Grafana, Influx DB and cron job are set up in AWS EKS cluster.</li>
                    </ol>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Veronica" class="accordian_header" id="veronica" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <header style="font-size:17px">Chat bot for querying the domain related queries. Chatbot works based on target words called intents and respond to the target words. We define the intents and the kind of response for the intent.
                    </header><br>
                    <label style="font-size:15px">Key Achievements -</label><br>
                    <label style="font-size:15px">1. Developed reusable chat component in ReactJS as well as in Angular. It can be plugged to any npm project. The chat component is also equipped with speech recognition and web speech API.</label><br>
                    <label style="font-size:15px">2. Developed synonyms for different target words called intents to fetch the same response.
                    </label><br>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Dashboard for Early Warning " class="accordian_header" id="dew" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">Owned the development of a prototype (wireframes) to generate early warnings to the engineers or
                        fabricators whenever there is a change in the requirements/attributes/documents etc. The prototype is
                        successful, and the project is under production. It is developed in Axure RP tool.</label><br>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Data Integration Layer" class="accordian_header" id="dil" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <header style="font-size:17px">ETL project
                    </header>
                    <label style="font-size:15px">Developed test cases using pytest for ETL project where ETL is carried out entirely on python.</label><br>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Camera App (Internship)" class="accordian_header" id="intern" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">Owned the development of a gallery app. The app has the features to take photos and save it in the
                        local directory. The photos taken can be shared. It is developed using Android Studio. This app works greater than or equal to Android 6.0.</label> <br>
                </div>
            </p-accordionTab>

        </p-accordion>
    </div>

    <br><br>

    <div>
        <header class="name" style="font-size:20px">My Personal Projects</header><br>
        <p-accordion>

            <p-accordionTab header="React-in-Angular" class="accordian_header" id="React-in-Angular" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">The project is about a component to display images developed in ReactJs integrated in Angular</label> <br>
                    <a href="https://gitlab.com/sngrmvj/react-in-angular" target="_blank" class="project_anchor">Please navigate here for more info.</a>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Weather API and HLS video" class="accordian_header" id="weather_and_hls" style="margin-bottom: 5px;">
                <div>
                    <br>
                    <label style="font-size:15px">Implemented weather application using OpenWeatherMap API based on the geolocation of the user.
                        Implemented video.js player for Http Live Streaming videos and mp4 videos. Developed using ReactJS.</label> <br>
                    <a href="https://sngrmvj.github.io/ReactJs_Imps/" target="_blank" class="project_anchor">Navigate to have a look at the product.</a>
                </div>
            </p-accordionTab>

        </p-accordion>
    </div>


</div>
