// .topnav {
//   width: 100%;  
//   z-index: 1;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 60px;
//   align-items: center;
//   background-color: transparent;
//   color: white;
//   font-weight: 600;
// }

// .topnav a {
//   float: left;
//   display: block;
//   color: #f2f2f2;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
//   font-size: 20px;
//   border-radius: 5px;
//   font-variant-caps: small-caps;
//   margin-bottom: 10px;
// }


.active {
    // background-color: bla;
    border-radius: 5px;
    color: white;
    border-bottom: 5px solid #57c4e5;
}

.nav-item:hover{
    background-color: #57c4e5 !important;
    color: black !important;
}


.bg-light {
    background-color: transparent !important;
}

.nav-item{
    padding:10px !important;
    color: white !important;
    border-radius: 5px;
    font-variant-caps: small-caps;
    font-size: 18px;
    margin-top: 5px !important;
}

.navbar-brand{
    color: #FFBA00 !important;
    padding: 10px !important;
    font-size: 20px;
    border-radius: 5px;
    font-variant-caps: small-caps;
    margin-right: 20px !important;
}

.navbar-toggler{
    background-color: white !important;
    // margin-right: 10px !important;
}