<div>
    <br><br>
    <header class="name">Work Experience</header>
    <span style="color:grey;font-size:15px;margin-left:5px">(Click to expand)</span><br><br>
    <p-accordion>

        <p-accordionTab header="Siemens Technology India" class="accordian_header" id="siemens" >
            <div style="display:flex">
            <div style="display: flexbox;float: left;margin-top: 10px;">
                <img src="../assets/siemens.jpg" class="techs" title="Siemens" />
            </div>
            <div style="display: flex;flex-direction: column;margin-left: 5px;margin-top: 10px;">
                <label style="font-size:15px"><b>Software Engineer</b></label>
                <label style="font-size:15px">Jul 2018 - Current</label>
                <label style="font-size:15px">Full-time</label>
                <label style="font-size:15px">Bengaluru, India</label><br>
                <div style="display: flex;flex-direction: column;">
                    <label style="font-size:15px;">
                        Owned the development of a product BoQ (Bill of Quantities), which helps in predicting values for the
                        pipes in powerplants based on domain specific attributes which is useful for construction of power
                        plants. Prediction is done based on data from the existing power plants (supervised learning). Provided
                        Similarity Index between the data of different power plants using data science. Engineers from power
                        plants and salespeople are using this product. Entire structure of this project is in consideration for
                        different discipline of power plant. The project is developed in Python and Angular.
                    </label><br>
                    <label style="font-size:15px;">
                        Owned the development of reusable chat component for Veronica chat bot. It is developed in ReactJS
                        and can be used for domain specific queries. This reusable chat component is platform independent. It
                        can be plugged to ReactJs as well as Angular. It is in production where domain experts are using this.
                    </label><br>
                    <label style="font-size:15px;">
                        Developed synonyms for different target words (intents) using natural language understanding for
                        Veronica chat bot. The intention is to give the same response for target word and its synonyms. This is
                        developed using Rasa framework.
                    </label><br>
                    <label style="font-size:15px;">
                        Owned the development of a prototype called DEW (Dashboard for Early Warning) to generate early
                        warnings to the engineers or fabricators whenever there is a change in the
                        requirements/attributes/documents etc. The prototype is successful, and the project is under
                        production. The tool used is Axure RP.
                    </label><br>
                </div>

            </div>
            </div>
        </p-accordionTab>

        <p-accordionTab header="Hitachi Vantara" style="margin-top:1px" id="hitachi">
            <div style="display:flex;">
            <div style="display: flexbox;float: left;margin-top: 10px;">
                <img src="../assets/hitachi.jpg" class="techs" title="Hitachi Vantara" />
            </div>
            <div style="display: flex;flex-direction: column;margin-left: 5px;margin-top: 10px;">
                <label style="font-size:15px"><b>Android Developer</b></label>
                <label style="font-size:15px">Dec 2016 - Jan 2017</label>
                <label style="font-size:15px">Internship</label>
                <label style="font-size:15px">Hyderabad, India</label><br>
                <label style="font-size:15px;">
                Owned the development of a gallery app. The app has the features to take photos and save it in the
                local directory.All the photos taken can be viewed in the same app. The photos taken can be shared. It is developed using Android Studio. This app works in android version
                greater than or equal to 6.0
                </label>
            </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>

