<div>
    <br><br>
    <header class="name">Work Experience</header>
    <span style="color:grey;font-size:15px;margin-left:5px">(Click to expand)</span><br><br>
    <p-accordion>

        <p-accordionTab header="Siemens Technology India" class="accordian_header" id="siemens" style="margin-bottom: 5px;">
            <div style="display:flex">
            <div style="display: flexbox;float: left;margin-top: 10px;">
                <img src="assets/siemens.jpg" class="techs" title="Siemens" />
            </div>
            <div style="display: flex;flex-direction: column;margin-left: 5px;margin-top: 10px;">
                <label style="font-size:15px"><b>Software Engineer</b></label>
                <label style="font-size:15px">Jul 2018 - Current</label>
                <label style="font-size:15px">Full-time</label>
                <label style="font-size:15px">Bengaluru, India</label><br>
                <div style="display: flex;flex-direction: column;">
                    <label style="font-size:15px;">
                        Owned the development of backend of a product called Bill of Quantities. 
                        A specific use case for BOQ is to enable the user to predict domain-specific Bill-of-Quantities for projects based on a set of provided attributes and by evaluation of historical data sets. 
                        It would help to improvise the complicated data flow and cut down the High Non-Conformance Cost (NCC) by 3.2 Million Euros considering four projects per year with scope: piping, insulation, supports, valves, and cables. 
                        Developed in Python, Angular and deployed to cloud foundry.
                    </label><br>
                    <label style="font-size:15px;">
                        Currently Siemens manually annotates powerplant component data (manuals, diagrams etc.). 
                        To avoid this, we extract metadata from a wide variety of document types automatically by using computer vision to use it in later projects. 
                        Created secrets in AWS Secrets Manager. 
                        Created cron job, Grafana and Influx DB in AWS EKS cluster for automated monitoring of server.
                    </label><br>
                    <label style="font-size:15px;">
                        Chat bot for querying the domain related queries. 
                        Chatbot works based on target words called intents and respond to the target words. 
                        We define the intents and the kind of response for the intent. 
                        Owned the development of reusable chat component for Chat bot equipped with speech recognition. 
                        It can be plugged to any npm project. 
                        Developed synonyms for different target words using natural language understanding for Chat bot. 
                        This is developed using Rasa framework.
                    </label><br>
                    <label style="font-size:15px;">
                        Owned the development of a prototype called DEW (Dashboard for Early Warning) to generate early
                        warnings to the engineers or fabricators whenever there is a change in the
                        requirements/attributes/documents etc. The prototype is successful, and the project is under
                        production. The tool used is Axure RP.
                    </label><br>
                    <label style="font-size:15px;">
                        Developed test cases using pytest for ETL project where ETL is carried out entirely on python.
                    </label><br>
                </div>

            </div>
            </div>
        </p-accordionTab>

        <p-accordionTab header="Hitachi Vantara" style="margin-top:1px" id="hitachi" style="margin-bottom: 5px;">
            <div style="display:flex;">
            <div style="display: flexbox;float: left;margin-top: 10px;">
                <img src="assets/hitachi.jpg" class="techs" title="Hitachi Vantara" />
            </div>
            <div style="display: flex;flex-direction: column;margin-left: 5px;margin-top: 10px;">
                <label style="font-size:15px"><b>Android Developer</b></label>
                <label style="font-size:15px">Dec 2016 - Jan 2017</label>
                <label style="font-size:15px">Internship</label>
                <label style="font-size:15px">Hyderabad, India</label><br>
                <label style="font-size:15px;">
                Owned the development of a gallery app. The app has the features to take photos and save it in the
                local directory.All the photos taken can be viewed in the same app. The photos taken can be shared. It is developed using Android Studio. This app works in android version
                greater than or equal to 6.0
                </label>
            </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>

