<div>
    <br><br>
    <header class="name">Resume</header>
    <table style="width:100%;padding:20px">
        <tr>
            <td class="resbutton" (click)="downloadResume()">Download Resume</td>
            <td class="resbutton" (click)="downloadCoverLetter()">Download Cover Letter</td>
        </tr>
    </table>

    <br><br>

    <div style="padding:20px">
        <label><b>Note</b></label><br>
        <label style="margin-left: 20px;">Please download the Resume and Cover Letter.</label><br>
        <label style="margin-left: 20px;">You can get the good insight about me in PDF fromat.</label>
    </div>
</div>
