
.resbutton{
    width:500px;
    text-align: center;
    height: 150px;
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:none;
    color: white;
    font-size: 22px;
    font-variant-caps: small-caps;
    cursor: pointer;
}

.name{
    font-size: 30px;
    font-variant-caps: small-caps;
    color: #FFBA00;
}