<div>
    <br><br>
    <div class="photo-container">
        <!-- <div class="photodiv2"></div> -->
        <div class="photodiv1">
            <img src="../assets/Vijayasai Sanagaram.JPG" alt="Vijayasai Sanagaram" style="width:150px;height:200px;margin-top: 15px;box-shadow: 0 0px 3px 0 black, 0 0px 0px 0 black;border-radius:20px" /><br><br><br>
            <header class="name">Vijayasai Sanagaram</header><br>
            <div> 
                <img src="../assets/icons8-important-mail-96.png" alt="Vijayasai Sanagaram Email" style="width:30px;height:30px;margin-right:20px;cursor: pointer;" value="click to copy" (click)="copyText('Email')"  />
                <img src="../assets/icons8-phone-48.png" alt="Vijayasai Sanagaram" style="width:29px;height:29px;cursor: pointer;" value="click to copy" (click)="copyText('phone')"  /><br><br>
                <label style="font-size:20px">Bengaluru, India</label>
            </div>
        </div>

        <div style="text-align: left;padding:15px">
            <header class="name" style="font-size:18px">Educational Qualifications</header><br>
            <div style="display:flex;">
                <img src="../assets/vit.jpg" class="vit" title="Vellore Institute of Technology" />
                <div style="display: flex;flex-direction: column;margin-left: 10px;margin-top:-3px">
                    <label style="font-size: 15px;">Vellore Institute of Technology, Vellore</label>
                    <label style="font-size: 15px;">Bachelor's of Technology, B.Tech</label>
                    <label style="font-size: 15px;">Computer Science Engineering</label>
                    <label style="font-size: 15px;">Jul 2014 - May 2018</label>
                </div>
            </div>
        </div>
    </div>

    <div class="container" >
    <!-- First Div -->
        <div>
            <header class="name">Executive Summary</header><br>
            <div>
                <label>Software Engineer with attention to detail and excellent communication skills and programming knowledge. 
                    Proficient in various platforms, languages and with innate ability to learn and master new technologies. 
                    Interested in building innovative products and learning innovative software project management techniques
                    Looking for a career in an established firm that is both challenging and rewarding.
                </label>
            </div>
        </div>
    <!-- End of First div -->
    
    <br><br>

    <!-- Start of Second Div -->
        <div>
            <header class="name">Tools and Technologies</header>
            <div style="display: flex;padding: 10px;">
                <div style="display: flexbox;padding: 10px;">
                    <label>Programming Skills</label><br><br>
                    <div style="display: flexbox;">
                        <img src="../assets/icons8-python-96.png" class="techs" title="Python" />
                        <img src="../assets/icons8-react-100.png" class="techs" title="ReactJS"  />
                        <img src="../assets/icons8-angularjs-96.png" class="techs" title="Angular"/>
                        <img src="../assets/icons8-docker-96.png" class="techs" title="Docker" />
                        <img src="../assets/icons8-ubuntu-96.png" class="techs" title="Ubuntu" />
                        <img src="../assets/icons8-git-96.png" class="techs" title="Git" />
                        <img src="../assets/icons8-jira-96.png" class="techs" title="Atlassian Jira"/>
                        <img src="../assets/cloud.png" class="techs" style="width:35px;padding-left: 12px;padding-right:12px" title="Cloud Foundry" />
                        <img src="../assets/icons8-amazon-web-services-96.png" class="techs" title="Familiar with Amazon Web Services" />
                    </div>
                </div>    



                <div style="display: flexbox;padding: 10px;margin-left: 5px;text-align: center;">
                    <label>Click here to view My Skills</label><br><br>
                    <div style="display: flexbox;margin-left: 25px;">
                    <a href="https://www.hackerrank.com/vijayasai257?hr_r=1" target="_blank"><img src="../assets/hackerrank.png"  class="techs" style="box-shadow: 0 0 0 0;" title="Hackerrank" /></a>
                    <a href="https://www.linkedin.com/in/vijayasaisanagaram/" target="_blank"><img src="../assets/icons8-linkedin-96.png"  class="techs" style="box-shadow: 0 0 0 0;" title="LinkedIn" /></a>
                    <a href="https://gitlab.com/sngrmvj" target="_blank"><img src="../assets/icons8-gitlab-96.png"  class="techs" style="box-shadow: 0 0 0 0;" title="GitLab" /></a>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of second div -->
        
        <br>

        <!-- Start of Third div -->
        <div style="display: flex;flex-direction: column;">
            <header class="name">Accomplishments</header><br>
            <label>Spot Award (Siemens)</label>
            <li>For Flexibility, dedication and ownership skills on multiple use cases and commitments.</li>
        </div>
        <!-- End of third div -->

        <br><br>

        <!-- Start of fourth div -->
        <div style="display: flex;">
            

            <div>
                <header class="name" style="font-size:18px">Certifications</header>
                <div style="display: flex;padding: 10px;">
                    <a href="https://www.hackerrank.com/vijayasai257?hr_r=1" target="_blank"><img src="../assets/hackerrank.png"  class="techs" style="box-shadow: 0 0 0 0;" title="Hackerrank link" /></a>
                    <a href="https://courses.edx.org/certificates/f668922a7fa44d9aaca9ef8bd4c101b0" target="_blank"><img src="../assets/edx-icon.png"  class="techs" style="box-shadow: 0 0 0 0;" title="EdX" /></a>
                </div>
            </div>
        
            <div style="margin-left:20px">
                <header class="name" style="font-size:18px">Publications</header>
                <div style="display: block;padding: 10px;text-align:center">
                    <a href="http://ijour.net/ijor.aspx?target=ijor:ijt1&volume=8&issue=2&article=002" target="_blank"><img src="../assets/icons8-magazine-100.png"  class="techs" style="box-shadow: 0 0 0 0;" title="Publications"/></a>
                </div>
            </div>
            
            <div style="margin-left:40px">
                <header class="name" style="font-size:18px">Interests</header>
                <div style="display: block;padding: 10px;">
                    <img src="../assets/icons8-python-96.png" class="techs" title="Python" />
                    <img src="../assets/icons8-amazon-web-services-96.png" class="techs" title="Amazon Web Services" />
                    <img src="../assets/icons8-angularjs-96.png" class="techs" title="Angular"/>
                    <img src="../assets/icons8-firebase-ml-96.png" class="techs" title="Machine Learning"/>
                </div>
            </div>
        </div>
    <!-- End of third div -->
    </div>  
</div>
