<div>
    <br><br>

    <div class="container" style="background-color:white;color:black;box-shadow: 0 3px 3px 0 black, 0 0px 0px 0 black;;">
        
        <div>
            <header class="name">Executive Summary</header><br>
            <label>Software Engineer with diligence and programming knowledge. 
                Proficient in various platforms, languages and with innate ability to learn and master new technologies. 
                Have experience in the development and maintenance of both frontend and backend and have good knowledge of client and server architecture. 
                I am a person interested in building innovative products and learning innovative software project management techniques.
            </label>
        </div>

        <br><br>



        <div>
            <header class="name">Tools and Technologies</header>
            <div style="display: flex;padding: 10px;">
                <div style="display: flexbox;padding: 10px;">
                    <label>Programming Skills</label><br><br>
                    <div style="display: flexbox;">
                        <img src="assets/icons8-python-96.png" class="techs" style="width:50px" title="Python" />
                        <img src="assets/icons8-react-100.png" class="techs" style="width:50px" title="ReactJS"  />
                        <img src="assets/icons8-angularjs-96.png" class="techs" style="width:50px" title="Angular"/>
                        <img src="assets/icons8-docker-96.png" class="techs" style="width:50px" title="Docker" />
                        <img src="assets/aws_black.png" class="techs" style="width:50px" title="Familiar with Amazon Web Services" />
                        <!-- <img src="assets/icons8-ubuntu-96.png" class="techs" style="width:50px" title="Ubuntu" /> -->
                        <img src="assets/icons8-git-96.png" class="techs" style="width:50px" title="Git" />
                        <img src="assets/icons8-jira-96.png" class="techs" style="width:50px" title="Atlassian Jira"/>
                        <img src="assets/cloud_black.png" class="techs" style="padding-left: 12px;padding-right:12px" title="Cloud Foundry" />
                        
                    </div>
                </div>  

                <div style="display: flexbox;padding: 10px;margin-left: 150px;text-align: center;">
                    <label>Click here to view My Skills</label><br><br>
                    <div style="display: flexbox;margin-left: 25px;">
                    <a href="https://www.hackerrank.com/vijayasai257?hr_r=1" target="_blank"><img src="assets/hackerrank.png"  class="techs" style="box-shadow: 0 0 0 0;" title="Hackerrank" /></a>
                    <a href="https://www.linkedin.com/in/vijayasaisanagaram/" target="_blank"><img src="assets/icons8-linkedin-96.png"  class="techs" style="box-shadow: 0 0 0 0;" title="LinkedIn" /></a>
                    <a href="https://gitlab.com/sngrmvj" target="_blank"><img src="assets/icons8-gitlab-96.png"  class="techs" style="box-shadow: 0 0 0 0;" title="GitLab" /></a>
                    </div>
                </div>

            </div>
        </div>

        <br>


        <div style="display: flex;flex-direction: column;">
            <header class="name">Accomplishments</header><br>
            <label><b>Spot Award</b></label>
            <li>For Flexibility, dedication and ownership skills on multiple use cases and commitments.</li>
        </div>

        <br><br>

        <div>
            <header class="name" >Certifications</header>
            <div style="display: flex;padding: 10px;">
                <a href="https://www.hackerrank.com/vijayasai257?hr_r=1" target="_blank"><img src="assets/hackerrank.png"  class="techs" style="box-shadow: 0 0 0 0;" title="Hackerrank link" /></a>
                <!-- <a href="https://courses.edx.org/certificates/f668922a7fa44d9aaca9ef8bd4c101b0" target="_blank"><img src="assets/edx-icon.png"  class="techs" style="box-shadow: 0 0 0 0;" title="EdX" /></a> -->
            </div>
        </div>

        <br><br>

        <div >
            <header class="name">Publications</header>
            <div style="display: block;padding: 10px">
                <a href="http://ijour.net/ijor.aspx?target=ijor:ijt1&volume=8&issue=2&article=002" target="_blank"><img src="assets/icons8-journal-100.png"  class="techs" style="box-shadow: 0 0 0 0;" title="Publications"/></a>
            </div>
        </div>
        
        <br><br>
            
        <div >
            <header class="name">Interests</header>
            <div style="display: block;padding: 10px;">
                <img src="assets/icons8-python-96.png" class="techs" title="Python" />
                <img src="assets/aws_black.png" class="techs" title="Amazon Web Services" />
                <img src="assets/icons8-angularjs-96.png" class="techs" title="Angular"/>
                <img src="assets/icons8-firebase-ml-96.png" class="techs" title="Machine Learning"/>
            </div>
        </div>


    </div>

    <br><br><br>
</div>
